

.BorderPane{
    -fx-background-image: url('../immagini/bg-01.jpg');

}

.text-field{
        -fx-background-color: #ffffff;
        -fx-background-radius: 20;
        -fx-border-color: #00000079;
        -fx-border-radius: 20;
}

.text-field:hover{
        -fx-background-color: #ffffff;
        -fx-background-radius: 20;
        -fx-border-color: #000000;
        -fx-border-radius: 20;
}

.button{
        -fx-background-color: #ffffff;
        -fx-background-radius: 20;
        -fx-border-color: #ffffff;
        -fx-border-radius: 20;
}


.myCheckBox {
    -fx-font-size: 16px;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: transparent;
}