* {
    -fx-primary-color: #3c90ea;
    -fx-secondary-color: #4578d5;
    -fx-tertiary-color: #04376d;
    -fx-light-grey-color: #d1d1d1;
    -fx-white-color: #ffffff;

    -fx-focus-color: -fx-secondary-color;
    -fx-gradientPrimary-color: linear-gradient(from 0% 0% to 100% 200%, #00bbff, #c300ff);
    -fx-gradientSecondary-color: linear-gradient(from 0% 0% to 100% 200%, -fx-primary-color, -fx-secondary-color);
}


.timeLabel {
    -fx-font-size: 32px;
    -fx-text-fill: -fx-primary-color;
    -fx-font-weight: bold;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 10;
}

.titleLabel {
    -fx-font-size: 48px;
    -fx-text-fill: -fx-primary-color;
    -fx-font-weight: bold;

}

.accediButton {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.accediButton:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.accediButton:pressed {
    -fx-background-color: -fx-primary-color;
}

.cercaButton {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px  10px  10px  0px;
}

.cercaButton#cercaButtonSecond {
    -fx-font-size: 16px;
}

.cercaButton:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.cercaButton:pressed {
    -fx-background-color: -fx-primary-color;
}

.ricercaTextField {
    -fx-font-size: 24px;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 0;
}

.ricercaTextField#ricercaTextFieldSecond {
    -fx-font-size: 16px;
}

.datePicker {
    -fx-font-size: 14px;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 10 0 0 10;
}

.date-picker .text-field {
    -fx-border-color: transparent;
    -fx-background-radius: 10 0 0 10;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 6;
}

.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

.date-picker .cell {
    -fx-background-color: rgb(238, 238, 238);
    -fx-background-radius: 10;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
    -fx-text-fill: black;
}

.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}

.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker .selected:hover {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}


.date-picker-popup {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 20 20 2 2;
    -fx-border-color: transparent;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 20;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.date-picker-popup .spinner .button .left-arrow:hover,
.date-picker-popup .spinner .button .right-arrow:hover {
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.date-picker-popup .spinner .button {
    -fx-background-color: transparent;
    -fx-background-radius: 6;
    -fx-border-color: transparent;
}

.date-picker-popup .spinner .button:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 6;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.toggle-button {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.toggle-button#toggleButtonSecond{
    -fx-font-size: 15px;
}

.toggle-button:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.toggle-button:pressed {
    -fx-background-color: -fx-primary-color;
}

.toggle-button:selected {
    -fx-background-color: -fx-tertiary-color;
    -fx-background-radius: 5;
}

.pagesButtonInternal {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border-color: -fx-secondary-color;
    -fx-border-width: 0 1 0 1;
}

.pagesButtonInternal#firstPageButton {
    -fx-border-width: 0 0 0 1;
}


.pagesButtonInternal:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.pagesButtonInternal:pressed {
    -fx-background-color: -fx-primary-color;
}

.pagesButtonDx {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-radius: 0 10px 10px 0;
}

.pagesButtonDx:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.pagesButtonDx:pressed {
    -fx-background-color: -fx-primary-color;
}

.pagesButtonSx {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-radius: 10 0 0 10;
}

.pagesButtonSx:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.pagesButtonSx:pressed {
    -fx-background-color: -fx-primary-color;
}

.table-view {
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 4;
}

.table-view .column-header-background .filler {
    -fx-background-color: -fx-white-color;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -fx-white-color;
}

.table-view .column-header-background .label {
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}   

.table-column {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 4;
    -fx-background-insets: 1 1 0 1;
    -fx-cursor: hand;
}

.table-column:hover {
    -fx-background-color: -fx-secondary-color;
}

.prenotaButton {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, #00bbff, #c300ff);
    -fx-text-fill: -fx-white-color;
}

.prenotaButton:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
    -fx-font-weight: normal;
}

.prenotaButton:pressed {
    -fx-background-color: -fx-primary-color;
}

.plusButton {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.plusButton:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.plusButton:pressed {
    -fx-background-color: -fx-primary-color;
}

.minusButton {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.minusButton:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.minusButton:pressed {
    -fx-background-color: -fx-primary-color;
}

.customComboBox {
    -fx-font-size: 16px;
    -fx-background-color: -fx-gradientSecondary-color;
    -fx-background-radius: 7;
}

.customComboBox:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.customComboBox:pressed {
    -fx-background-color: -fx-primary-color;
}

.customComboBox .text {
    -fx-fill: white;
}

.customComboBox .arrow {
    -fx-background-color: white;
}

.customComboBox .arrow-button {
    -fx-background-color: -fx-gradientPrimary-color;
    -fx-background-radius: 0 7 7 0;
    -fx-background-insets: 0 0 0 4;
}

.customComboBox .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.customComboBox .arrow-button:pressed {
    -fx-background-color: -fx-primary-color;
}

.customComboBox .combo-box-popup .list-view {
    -fx-background-radius: 5;
    -fx-background-color: -fx-gradientSecondary-color;
}

.customTextField {
    -fx-font-size: 15px;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 7;
}

.customDatePicker {
    -fx-font-size: 14px;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 7;
}

.labelCustom1 {
    -fx-text-fill: -fx-secondary-color;
}

/* Stile per l'ImageView */
.infoImage {
    -fx-opacity: 0.9;
}


.text-area {
    -fx-font-size: 25px;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 7;
}

.text-area .content {
    -fx-background-color: -fx-white-color;
}